@page
@model HomeModel
@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>
    <p>这是一个 RSA 非对称加密测试 Web 应用。<a asp-area="" asp-page="/RSA">RSA测试</a></p>
</div>
